<title>Prosas | Adicionar proposta</title>

<div class="col-lg-12">
    <h1 class="page-header">Adicionar proposta</h1>
</div>
<div class="col-lg-12">
    <%= render 'form', proposal: @proposal %>

    <div class="col-lg-12">
        <a class="btn btn-danger btn-block" href="<%= proposals_path %>">Cancelar</a>
    </div>
</div>
